@import '../../styles/variables';

.logout-button {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    background-color: $medRed;
    outline: none;
    border: none;
    color: $textWhite;
}

.card-container {
    overflow: auto;
    height: 530px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f95f69;
    border-radius: 10px;
  }
