@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';

body {
  background: linear-gradient(to bottom, $medRed 0% 19%, $purple 19% 28%, $greyBlue 28% 37%, $orange 37% 46%, $medRed 46% 55%, $yellow 55% 64%, $medRed 64% 73%, $orange 73% 82%, $greyBlue 82% 91%, $purple 91% 100%);
  height:100vh;
  overflow: hidden;
}