@import '../styles/variables';

.App {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.title {
  color: $textWhite;
  font-family: 'Playfair Display SC', serif;
  font-size: 650%;
}

.top-header {
  color: $textWhite;
  margin-top: 2px;
  margin-bottom: 0;
}

.sub-header {
  color: $textWhite;
  margin-top: 30px;
}

.login-button {
  background-color: $buttonGreen;
  border-radius: 100%;
  outline: none;
  border: none;
  color: $textWhite;
  height: 200px;
  width: 200px;
  font-size: 200%;
  margin-top: 12%;
}

.hidden {
  display: none;
}